.margin-top
{
    margin-top: 80px;
}
#line
{
    width:30%;
    height: 30%;

    float:left;
    margin-left:15px;
    text-align:center;
}

.gradient {
    background: #fefcea; /* Для старых браузров */
    background: linear-gradient(to top, #fefcea, #f1da36);
    padding: 10px;
    border: 1px solid #333;
}
td{
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}
.container
{
    text-align: center;
}