{% extends 'base.html.twig' %}

{% block title %}Інформація про товар {% endblock %}

{% block body %}
        <table class="table" id="col-1-1">
        <tr><td rowspan="4" width="250px" scope="row"><img src="{{ product.image }}" id="line" ></td></tr>
        <tr>
                <td scope="row">Назва товару</td>
                <td scope="row">{{ product.name }}</td>
        </tr>
        <tr>
                <td scope="row">Розмір діагоналі</td>
                <td scope="row">{{ product.size }}'</td>
        </tr>
        <tr>
                <td scope="row">Ціна</td>
                <td scope="row">{{ product.price }} грн.</td>
        </tr>
</table>

{% endblock %}